<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://create-markdown-documentv4-dmemfvagcahfczgf.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d1b12264-4e28-4798-8b24-3d7a3cf72c81/resourceGroups/Ticket-263827/providers/Microsoft.Web/sites/Create-Markdown-DocumentV4</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://create-markdown-documentv4-dmemfvagcahfczgf.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>